@media screen and (min-width: 680px) {

    nav {
        display: flex;
    }

    nav a {
        display: block;
        flex: 1 1 100%;
    }

    header img {
        vertical-align: middle;
        max-width: 10%;
    }

    main {
        display: grid;
        grid-template-columns: auto auto;
    }

    #map {
        grid-column: 1/ span 2;
    }

    h2 {
        grid-column: 1 / span 2;
    }

    #menu {
        display: none;
    }

}